<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Log In | Metal Shop</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="static/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div style="display: flex;">


<div id="login-form-wrap">
  <h2>WIP Login</h2>
  <form id="login-form" action="{{url_for('index')}}">

    <p>
    <input type="submit" id="login" value="Login">
    </p>
  </form>


  <div id="create-account-wrap">
    <p>Operator login<p>
  </div><!--create-account-wrap-->
  </div>

<div id="login-form-wrap">
  <h2>Admin Login</h2>
  <form id="login-form" action = "{{url_for('index')}}">
    <p>
    <input type="text" id="username" name="username" placeholder="Username" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
    <input type="password" id="email" name="email" placeholder="Password" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
    <input type="submit" id="login" value="Login">
    </p>
  </form>
  <div id="create-account-wrap">
    <p>Managment login<p>
  </div><!--create-account-wrap-->
</div><!--login-form-wrap-->
<!-- partial -->


</div>
</body>
</html>
