<div class="collapse" id="navbarToggleExternalContent">
	
		<div class="justify-content bg-dark p-4">
		    <h5 class="text-white text-center h4">Metal Shop</h5>


		    <form class="m-2" action="{{url_for('bend')}}">
		    <div class="btn-group">
			    <button type="submit" class="btn btn-danger ">Open Plan</button>
			</form>

			<button type="button" class="btn  dropdown-toggle dropdown-toggle-split btn btn-outline-secondary" id="dropdownMenuReference" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
			    <span class="">Routings</span>
			</button>
				<table class="dropdown-menu" aria-labelledby="btnGroupDrop1" style = "overflow:scroll;overflow-y:scroll;height: 500px;overflow-x:scroll;width: 500px">

				{% for route in dep_routing %}		
					<tr>
				    	<td ><button type="button" id= "{{route[0]}}" onclick="Filter('{{route[0]}}')" value="{{route[0]}}" class="bg-secondary.bg-gradient dropdown-item text-center fw-bold">{{route[0]}} </button></td>

				    	<td class="">
				    		<ol class="list-group">
							  <li class="list-group-item d-flex justify-content-between align-items-start">

							    <div class="ms-2 me-auto">
							      	<div class="fw-bold">Complete</div>
							      	Jobs 
							      	<span class="badge bg-success rounded-pill">1004</span><br>
							      	Parts 
							      	<span class="badge bg-success rounded-pill">14</span>
							  		</div>
							    </div>
							    <div class="ms-2 me-auto">
							      	<div class="fw-bold">In Progress</div>
							      	Jobs 
							      	<span class="badge bg-warning rounded-pill">14</span><br>
							      	Parts 
							      	<span class="badge bg-warning rounded-pill">14</span>
							     
							  		</div>
							    </div>
							    <div class="ms-2 me-auto">
							      	<div class="fw-bold">Remining</div>
							      	Jobs 
							      	<span class="badge bg-danger rounded-pill">14</span><br>
							      	Parts 
							      	<span class="badge bg-danger rounded-pill">14</span>
							     
							  		</div>
							    </div>
							    
							  </li>
							</ol>
				    	</td>
				    	{% endfor %}

		        	</tr>
	        	</table>
	        		<form action="{{url_for('trans')}}">
			    		<button type="submit" class="btn btn-info rounded m-2">Transaction table</button>
					</form>	
			</div>
	
	</div>
	</div>
		<nav class="navbar navbar-dark bg-dark navbar-toggler justify-content">
	  		<div class="position-relative container-fluid text-white">
	    		<button class="navbar-toggler navbar-toggler-icon" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
	    		</button>
	    		<form class="w-25 col d-flex justify-content-center" action="{{url_for('index')}}">
	    			<button type="submit" class="w-50 btn btn-primary">Booking</button>
	    		</form>
	    		

	    		<form action="{{url_for('loadweek')}}">
		    		<div class="dropdown me-5">
				  		<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
				    		Weekly Supply
				  		</button>
					  	<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
					  			{%for week in weeks%}				  			
					    	<li class = "m-2"><input class="btn-dark rounded border border-dark" type="submit" name="no1" value="{{week}}">
					    		
					    	</li>				    	
								{%endfor%}
					  </ul>
					</div>
				</form>

				<div class="border">
	    		<form  action="{{url_for('bend')}}" method = 'post' enctype="multipart/form-data">
	    			<label for="getFile"></label>
	    			<input name='plan' type="file" required="required" />
	    			<button class="btn btn-secondary" type="submit">Submit</button>
	    		</form>
	    		</div>
	    		</div>
	  		</div>
		</nav>

