<table class="table table-dark table-hover text-center" >
	  		 <thead>

	  		 	<tr>
	  		 	<th style="width:5%">#</th>
	  		 	<th style="width:5%">Week</th>
	  		 	<th style="width:10%">Job Number</th>
	  		 	<th style="width:10%">Part</th>
	  		 	<th style="width:45%">Description</th>
	  		 	<th style="width:8%">Qty</th>
	  		 	<th style="width:17%">Status</th>
	  			</tr>
	  		 </thead>

	  	<tbody>
</table>

<div class="" style = "overflow-y:scroll;height:365px">

<table>
  		
		{% for wip in update_wip %}
		
	  	<table  class=" table table-dark table-hover text-center mt-1"  style = "margin: 0rem;">
		  	<tbody >  		 	
				<td style="width:5%"><a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapse{{wip[0][1]}}" role="button" aria-expanded="false" aria-controls="multiCollapse{{wip[0][1]}}">+</a></td>
				
					
					<td style="width:5%"  >{{wip[0][0]}}</td>
					<td style="width:10%" >{{wip[0][1]}}</td>
					<td style="width:10%" >{{wip[0][2]}}</td>
					<td style="width:45%" >{{wip[0][3]}}</td>
					<td style="width:10%" >{{wip[0][4]}}</td>
					<td style="width:15%" class="bg-warning">{{wip[0][5]}}</td>
				
			 </tbody>
		</table>
		  	 
		<div class="collapse text-center" id="multiCollapse{{wip[0][1]}}">
			
		  	<table class ="table mt-3"> 	

				<tr class = "border-white">	
				{% for i in wip[1] %}					
					
						{% if i[4] == 'Complete' and i[2] == i[3] %}
						<td class ="fw-bold bg-success bg-opacity-75 rounded-pill"><p>{{i[1]}}<hr></p>
							<div class="p-0 btn-group">
								Complete
						  		<button class="ms-2 btn btn-secondary btn-sm" type="button">
						    		{{i[2]}} | {{i[3]}}
						  		</button>				
							</div>
						</td>

						{%elif i[4] == 'In Progress' %}

						<td class = "fw-bold bg-warning bg-opacity-75 rounded-pill"><p>{{i[1]}}<hr></p>{{i[4]}}
							<div class="btn-group">
						  		<button class="btn btn-secondary" type="button">
						    		{{i[2]}} | {{i[3]}}
						  		</button>				
							</div>
						</td>
						</td>
						 {% else %}

						 <td class = "fw-bold bg-danger bg-opacity-75 rounded-pill"><p>{{i[1]}}<hr></p>{{i[4]}}
						 	Remining 
							<div class="btn-group">
								
						  		<button class="btn btn-secondary" type="button">
						    		{{i[2]}} | {{i[3]}}
						  		</button>				
							</div>
						</td>
						{%endif%}
						{%endfor%}
				</tr>
			</table>
		</div>
			
{%endfor%}	

</div>
		